{% extends 'wedding_organizer/base.html' %}
{% block content %}
	<div style="background-color:#d9c1e5;padding:10px;margin:5px;border:solid grey;">
	<a href="{% url 'home_page' %}" style="background-color:blue;color:white;padding:5px;text-decoration:none;"> <--Back </a>
	<h3 style="color: deepink">{{ pemesan.nama_pemesan }}</h3>
	<b>Kategori :</b>
		{% if pemesan.paket == 'vn' %} Accesoris 
			{% elif pemesan.paket == 'an' %} Hp 
			{% else %} Service
		{% endif %}<br>
	
	<b>Tipe :</b> {{ pemesan.email }}<br>
	<b>Keterangan :</b>{{ pemesan.alamat }}<br>
	<br><br>
	<a href="{% url 'alat_edit' pemesan.id %}" style="background-color:green;color:white;padding:5px;text-decoration:none;">Edit Produk</a> &nbsp;
	<a href="{% url 'alat_delete' pemesan.id %}" style="background-color:red;color:white;padding:5px;text-decoration:none;">Hapus Produk</a>
	</div>
{% endblock %}