<html>
<head>
	<style>
		@page{
			size:A4 landscape;
			margin:1cm;
		}
	</style>
</head>
<body>
	<font size="15px" color="#8a2be2">DAFTAR PEMESAN</font>
	<br><br>
	<table border="1">
		<thead>
		<tr>
			<th>Nama Produk</th>
			<th>Kategori</th>
			<th>Tipe</th>
			<th>Keterangan</th>
		</tr>
		</thead>
		<tbody>
		{% for alat in pemesan %}
			<tr>
				<td width="40%" align="center">{{ alat.nama_pemesan }}</td>
				<td width="15%" align="center"> {% if alat.paket == 'vn' %} Aksesoris
					{% elif alat.paket == 'an' %} HP
				{% else %} Service
				{% endif %}</td>
				<td width="15%" align="center">{{ alat.email }}</td>
				<td align="center"><br>{{ alat.alamat}}<br></td>
			</tr>
		{% endfor %}	
		</tbody>
	</table>
</body>
</html>