<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>Doctor Ponsel</title>
</head>
<body style="background-color:#00FFFF;">
	<div style="background-color:#DC143C;text-align:center;padding:10px;color:white;outline: 5px dotted yellow;text-shadow: 2px 2px #000;margin-bottom: 10px;text-decoration: underline;">
	<h1>{{ judul }}</h1>
	<h2>{{ info }}</h2>
	</div>
	{% block content %}
	{% endblock %}	
</body>
</html>