{% extends 'wedding_organizer/base.html' %}
{% block content %} 
	<p style="text-align:center;margin-top:50px;"><a href="{% url 'alat_add' %}" style="background-color:green;color:white;padding:5px;text-decoration:none;"><b> (+)Tambah Produk</b> </a>&nbsp;
	<a style="background-color:blue;color:white;padding:5px;text-decoration:none;" href="{% url 'alat_to_pdf' %}"><b> (+)Print PDF</b></a>	
	</p><br>

	{% for alat in pemesan %}
		<div style="background-color:#d9c1e5;padding:10px;margin:5px;border:solid grey;">
		<a href="{% url 'alat_detail_view' alat.id %}" style="color:black;text-decoration: none;">
		<h3>{{ alat.nama_pemesan }}</h3>
		<i>Kategori :
		
		{% if alat.paket == 'vn' %}
			Accesoris 
			{% elif alat.paket == 'an' %}
				Hp
				{% else %}
					Service 
		{% endif %}
		</i>
		</a>
		</div>
	{% endfor %}
{% endblock %}